.home-page {
    overflow-x: hidden;
    display: flex;
    flex-flow: column;


    background-color: #161616;
    color:aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

}
video {
    
    background-color: black;
    overflow: hidden;
    width:100%;
    height: 100vh;
    flex-grow: 1;

}