body {
  overflow-x: hidden; /* Disables horizontal scrolling */
  background-color: #161616;
}

::-webkit-scrollbar {
  width:0;
  background-color: #161616;
}

::-webkit-scrollbar-thumb {
  width:100%;
  background-color: #323232;
}